h3 {
	text-align: center;
  width: 300px;
  border: 15px solid darkviolet;
  padding: 50px;
  margin: 20px;
}

img { width: 15%;
  background-color: white;
  border-radius: 50%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
